.react-datepicker {
  background: #f7d794 !important;
  font-family: 'Chakra Petch', sans-serif;
}

.react-datepicker__day--selected {
  background-color: #f8a5c2 !important;
}

.sc-ftvSup {
  color: #303952;
  font-family: 'Chakra Petch', sans-serif;
  text-align: center;
  outline: none !important;
}
